html {
    scroll-behavior: smooth;
}

.card {
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom right, #FAFCFF, rgb(255, 255, 239));
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center
}


.cart-container {
    width: 70%;
    height: 85%;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0px 25px 40px #ffb2b233;
}

.cart-header {
    margin: auto;
    width: 90%;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cart-header .heading {
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    color: #2F3841;
}

.cart-header .action {
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    color: #E44C4C;
    cursor: pointer;
    border-bottom: 1px solid #E44C4C;
}

.cart-items{
	margin: auto;
	width: 90%;
	height: 30%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.image-box{
	width: 15%;
	text-align: center;
}
.about{
	height: 100%;
	width: 24%;
}
.title{
	padding-top: 40px;
	line-height: 20px;
	font-size: 25px;
	font-family: 'Roboto', sans-serif;
    text-align: left;
	font-weight: 800;
	color: #202020;
    
}
.subtitle{
    padding-top: 20px;
	line-height: 10px;
	font-size: 18px;
    font-family: 'Roboto', sans-serif;
	font-weight: 600;
	color: #909090;
}

.counter{
	width: 15%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.btn{
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color: #d9d9d9;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 20px;
	font-family: 'Open Sans';
	font-weight: 900;
	color: #202020;
	cursor: pointer;
	margin: 0 10px;
}

.btn:hover {
	transform:  scale(1.1);
}

.count{
	font-size: 20px;
	font-family: 'Open Sans';
	font-weight: 600;
	color: #202020;
}

.prices{
	height: 100%;
	text-align: right;
}
.amount{
	padding-top: 20px;
	font-size: 26px;
	font-family: 'Open Sans';
	font-weight: 800;
	color: #202020;
}
.save{
	padding-top: 5px;
	font-size: 14px;
	font-family: 'Open Sans';
	font-weight: 600;
	color: #1687d9;
	cursor: pointer;
}
.remove{
	padding-top: 5px;
	font-size: 14px;
	font-family: 'Open Sans';
	font-weight: 600;
	color: #E44C4C;
	cursor: pointer;
}

.pad{
	margin-top: 5px;
}

hr{
	width: 66%;
	float: right;
	margin-right: 5%;
    margin-bottom: 10px;
}
.checkout{
	float: right;
	margin-right: 5%;
	width: 28%;
}
.total{
	width: 100%;
	display: flex;
	justify-content: space-between;
}
.Subtotal{
	font-size: 22px;
	font-family: 'Open Sans';
	font-weight: 700;
	color: #202020;
}
.items{
	font-size: 16px;
	font-family: 'Open Sans';
	font-weight: 500;
	color: #909090;
	line-height: 10px;
    margin-bottom: 20px;
}
.total-amount{
	font-size: 36px;
	font-family: 'Open Sans';
	font-weight: 900;
	color: #202020;
}

.checkout .checkout-btn {
    text-align: center;
    color: white;
    background-color: black;
    font-family: 'Roboto', Arial, sans-serif;
    padding: 8px 100px;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.2s all ease-in-out;
}

.checkout-btn a {
	text-decoration: none;
	color: white;
}

.checkout-btn:hover {
    background-color: #2F3841;
}

.payment-card {
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom right, #FAFCFF, rgb(255, 255, 239));
    height: 170vh;
    display: flex;
    justify-content: center;
    align-items: center
}

.payment-card .container {
    width: 70%;
    height: 85%;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0px 25px 40px #ffb2b233;
}

.payment-card .cart-header a {
    color: black;
}
.payment-card .payments {
	margin: 0;
	padding-left: 30px;
}

#form {
	padding-left: 30px;
	padding-bottom: 30px;
}

.confirm-btn a {
	color: white;
    background-color: black;
	text-decoration: none;
    padding: 8px 20px;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.2s all ease-in-out;
}

.confirm-btn a:hover {
	color: black;
    background-color: #FFB812;
}